footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1050px;
}

.firstLine {
  height: 50px;
  width: 100%;
  background-color: #37445A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
}

.navigator {
  width: 100%;
  height: 390px;
  background-color: #232F3E;
  display: flex;
  border-bottom-color: #8d9096;
  padding-top: 50px;
}

.navGridB,
.navGridD,
.navGridF,
.navGridH {
  width: 130px;
  height: auto;
  margin-left: 170px;
}

.getKnow,
.makeMoney,
.amazonPap,
.helpYou {
  width: 130px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #DDDDDD;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helpYouSub {
  margin-top: 10px;
  width: 132px;
  height: 29px;
  font-size: 14px;
  font-weight: 400;
  color: #DDDDDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footHeadline {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.firstBase a {
  text-align: left;
  color: purple;
}

.payment {
  width: 100%;
  height: 110px;
  background-color: #232F3E;
  display: grid;
  grid-template-columns: 375px auto 370px;
  column-gap: 10px;
}

.payAmazonDiv {
  display: flex;
  justify-content: end;
  align-items: center;
}

.payAmazon {
  width: 90px;
}

.paymentButton {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 155px;
}

.englishButton,
.usButton,
.unitedButton {
  width: 138px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #8d9096;
  background-color: #232F3E;
  color: #fff;
}

.usButton {
  width: 155px;
  margin-left: 8px;
}

.navigatorB {
  width: 100%;
  height: 450px;
  background-color: #131A22;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.navigateLastA,
.navigateLastB,
.navigateLastC,
.navigateLastD {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
}

h6 {
  font-size: 11px;
  font-weight: 400;
}

.lastnavA,
.lastnavB,
.lastnavC,
.lastnavD,
.lastnavE,
.lastnavF,
.lastnavG {
  margin-left: 48px;
  width: 80px;
  height: inherit;
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
}

.lastLast {
  font-size: 11px;
  font-weight: 300;
  color: #D6D6D7;
}

.lastnavA a,
.lastnavB a,
.lastnavC a,
.lastnavD a,
.lastnavE a,
.lastnavF a,
.lastnavG a {
  text-decoration: none;
}

.farewell {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.farewellA {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131A22;
}

.farewellA div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: inherit;
  color: #fff;
  font-size: 11px;
}

.farewellB {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  background-color: #131A22;
}
