nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  background-color: #232F3E;
}

.navChildA {
  width: 545px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2rem;
}

.navChildA div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding: 8px 9px;
}

.hamburgerAllDiv a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerIcon {
  width: 20px;
  filter: invert(100%);
}

.navChildA div:hover {
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}

a {
  text-decoration: none ;
  color: #fff;
}